body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #1E1E1E;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
#home-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1, h2 {
  width: 100%;
  margin-bottom: 10px;
}
hr, div {
  width: 50%;
}
li {
  margin-left: 1rem;
  margin-right: 1rem;
}
a {
  color: #00BFFF;
}
#background-container {
  width: 100%; /* You can adjust this width as needed */
  max-width: 100%;
  height: 80vh; /* Set the height to 100% of the viewport height */
  overflow: hidden;
  position: relative;
}
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fully covers the container */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0 0 0
}

/* Responsive adjustments */
@media screen and (max-width: 675px) {
  body {
      font-size: 1rem;
  }
  h1, h2 {
      width: 100%;
  }
  hr, div {
      width: 75%;
  }
}

@media screen and (max-width: 450px) {
  h1, h2 {
      font-size: 1.2rem;
  }
  ul {
      padding-left: 0.8rem;
  }
  li {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  }
}
